<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titre">Informations sur le COVID-19 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="contenuPage">

  <div class="div">
    <img class="icon-cov" src="../../assets/img/covid19 - 2.jpg">
    <ion-list-header class="titrepage">
      Le coronavirus 2019 (COVID-19)
    </ion-list-header>
  </div>

  <div class="div">
    <ion-list-header class="titrepage">
      &#10148; Qu’est-ce qu’un coronavirus ?
    </ion-list-header>

    <div style="text-align: justify; padding-left: 5px; padding-right: 5px;">
      Les coronavirus forment une vaste famille de virus qui peuvent être pathogènes chez l’homme et chez l’animal. On sait que, chez l’être humain, plusieurs coronavirus peuvent entraîner des infections respiratoires dont les manifestations vont du simple rhume à des maladies plus graves comme le syndrome respiratoire du Moyen-Orient (MERS) et le syndrome respiratoire aigu sévère (SRAS). Le dernier coronavirus qui a été découvert est responsable de la maladie à coronavirus 2019 (COVID-19).
    </div>

  </div>

  <div class="div">
    <ion-list-header class="titrepage">
      &#10148; Qu’est-ce que le COVID-19 ?
    </ion-list-header>

    <div style="text-align: justify; padding-left: 5px; padding-right: 5px;">
      Le COVID-19 est la maladie infectieuse causée par le dernier coronavirus qui a été découvert. Ce nouveau virus et cette maladie étaient inconnus avant l’apparition de la flambée à Wuhan (Chine) en décembre 2019. 
    </div>

  </div>

  <div class="div">
    <ion-list-header class="titrepage">
      &#10148; Qu’est-ce que le COVID-19 ?
    </ion-list-header>

    <div style="text-align: justify; padding-left: 5px; padding-right: 5px;">
      Le COVID-19 est la maladie infectieuse causée par le dernier coronavirus qui a été découvert. Ce nouveau virus et cette maladie étaient inconnus avant l’apparition de la flambée à Wuhan (Chine) en décembre 2019. 
    </div>

  </div>




  <div class="div" style="text-align: left; font-size: 15px;">
    <ion-list-header class="titrepage">
      &#10148; Pour plus d’informations  
    </ion-list-header>

    <a target="_blank" style="margin-left: 20px;" href="https://www.who.int/fr/emergencies/diseases/novel-coronavirus-2019/advice-for-public/q-a-coronaviruses"> Cliquer-ici ! </a>  

    <div style="text-align: justify; padding-left: 5px; padding-right: 5px;">
     Source : <a target="_blank" href="https://www.who.int/fr/"> Organisation Mondiale de la Santé (OMS) </a>
    </div>

  </div>



</ion-content>

<ion-footer translucent>
  <ion-toolbar>
    <ion-title class="titre"><a href="http://www.simens.sn"><span>SIMENS</span></a> - Sénégal</ion-title>
  </ion-toolbar>
</ion-footer>