<ion-header>
  <ion-toolbar>
    <ion-title id="titrepage">Pandémie du coronavirus (COVID-19)</ion-title>
    <ion-button slot="end" (click)="closeModal()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content id="espaceTableauStatistique">

  <div  class="styleDesignInterfaceAnalyse">
  
    <div id="iconChargementInfosCovid19" style="margin: 10px; text-align: center;">
      <span style="color: gray;">Patientez</span><br>
      <img style="width: 65px; height: 75px;" class="icon-cov" src="../../../assets/img/chargement-infos-covid19.gif">
    </div>

  </div>  

</ion-content>
